.dashboard-wrapper {
    width: 80%;
    max-height: fit-content;
    padding: 20px auto;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.dashboard-mian {
    background-color: white;
}

.searchBar-box {
    display: flex;
    justify-content: right;
    background-color: white;
}

.searchBar {
    font-size: 14px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightslategray;
    background-color: white;
    margin-right: 10px;

}

.search-btn {
    width: 60px;
    font-size: 12px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #74C1ED;
    background-color: white;
    color: white;
    background: var(--publicity-blue);
    cursor: pointer;
}

.search-btn:hover {
    cursor: pointer;
    background-color: #5659f5;
}

.searchBar-box {
    margin-bottom: 15px;
}

.dashboard-body {
    background-color: #F8F8F8;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-main-title {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;

}

.review-list {
    font-weight: 400;
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.table-head {
    font-weight: 300;
    font-size: 12px;
    color: rgb(183, 195, 207);
    border-collapse: collapse;
    padding: 10px 30px;
}

.table-row {
    background-color: white;
    border-collapse: collapse;
    margin-bottom: 10px;


}

.table-data {
    font-size: 14px;
    color: black;
    border-collapse: collapse;
    padding: 10px 30px;

}

.edit-icon {
    color: #74C1ED;
    font-size: 20px;
    margin-left: 20px;
}

.edit-icon:hover {
    color: #5659f5;
}

@media (max-width: 1200px) {
    .dashboard-wrapper {
        width: 95%;
        max-height: fit-content;
        display: grid;
        grid-template-columns: 100%;
        padding: 20px auto;
    }

    .edit-icon {
        font-size: 18px;
        margin-left: 10px;
    }

    .table-data,
    .table-head {
        font-size: 12px;
        padding: 8px 8px;
    }
}


@media (max-width: 768px) {
    .dashboard-wrapper {
        width: 100%;
    }

    .table-data,
    .table-head {
        font-size: 10px;
        padding: 2px;
    }

    .edit-icon {
        font-size: 12px;
        margin-left: 2px;
    }
}