.footer {
    width: 100%;
    height: 575px;
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    font-family: var(--font-base);
}

.newsletter {
    margin: 0;
    width: 100%;
    height: 171px;
    background: var(--beige-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h3 {
    color: var(--black-color);
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.newsletter-form {
    margin: 5px auto;

    input {
        width: 290px;
        height: 40px;
        background: var(--white-color);
        border: 1px solid var(--black-color);
        margin: 0 8px;
    }

    .btn {
        border-radius: 0;
        height: 40px;
    }

}


@media (max-width:475px) {
    .newsletter-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn {
        margin-top: 8px;
    }
}




.footer-bottom {
    margin: 0;
    width: 100%;
    height: 404px;
    background: var(--dark-blue);
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.footer-links {
    display: flex;
}

.footer-links {
    width: 90%;
    margin: 10px 150px;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 4;

}

.footer-link-group {
    width: 200px;
    /* display:flex; */
    margin: 25px 50px;
}

.link-items {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 200px;
}

.link-items ul {
    margin-top: 20px;
}

.link-items li {
    list-style: none;
    margin-top: 5px;
}

.link-items a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 100;
}




.rights {
    flex-grow: 1;
    margin-left: 200px;
    margin-bottom: 50px;
    font-size: 0.7rem;
    font-weight: 100;
}



@media (max-width:768px) {
    .footer-links {
        display: flex;
        margin: 10px 10px;
        width: 90%;
        justify-content: center;
    }

    .footer-link-group {
        width: 150px;
        margin: 25px 10px;
    }

    .link-items {
        margin-top: 50px;
        width: 150px;
    }

    .rights {
        margin-left: 30px;
    }
}



.rights {
    margin-left: 30px;
}